<ion-header>
  <ion-navbar>
    <ion-title text-center>Homepage</ion-title>
  </ion-navbar> 
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-fab bottom right>
    <button ion-fab *ngIf = "is_celeb" (click) = "goToPost()">
    <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
  
  <ion-list *ngIf ="list_posts">

  <ion-item *ngFor = "let post of list_posts">
  <ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img [src] ="post.authorPicUrl">
    </ion-avatar>
    <h2 (click) = "setSubjUID(post.uid)">{{post.author}}</h2>
    <p>(location)</p> 
    <button ion-button clear small style="float: right; text-align: right;position:absolute; top:0; right:0;" >...</button>
  </ion-item>
  

  <img *ngIf = "post.post_pic_url" [src]= "post.post_pic_url">

  <ion-card-content>
    <p>{{post.body}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)= "clickLikeButton(post,post.key,post.uid)">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{post.likeCount}} Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small (click)="clickComment(post.key,post.uid,post,list_posts)"> 
        <ion-icon name="text"></ion-icon>
        <div>{{post.commentCount}} Comments</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small> 
        <ion-icon name="share"></ion-icon>
        <div> Share</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>{{post.timeStamp}}</ion-note>
    </ion-col>
  </ion-row>

</ion-card>
  </ion-item>
  </ion-list>

</ion-content>


