<ion-header>
  <ion-navbar>
    <ion-title text center stack>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding >
    <ion-list>
    <ion-item text-center>
     <img *ngIf = "!image" (click) = "editPhoto()"  [src] = "profile_pic" style="margin:auto; margin-top: 20px; border-radius:500px; height
  : 200px; width: 200px; "/>
  <img [src]="image" *ngIf = "image" style="margin:auto; margin-top: 20px; border-radius:500px; height
  : 200px; width: 200px; ">
    <input id= "fileupload" style = "display: none;" type="file" (change) ="selectfile($event)" >
    </ion-item>
    <ion-item>
        <ion-label floating><ion-icon name = "information-circle"></ion-icon> About</ion-label>
        <ion-textarea type = "text" [(ngModel)] = "about" value = ""></ion-textarea> 
    </ion-item>
    <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type = "text" [(ngModel)] = "username" value = ""></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type = "text" [(ngModel)] = "firstname" value = ""> </ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type = "text" [(ngModel)] = "lastname" value = ""> </ion-input>
    </ion-item>
    </ion-list>

    <button ion-button clear block (click) = "updateProfile()">Save Profile</button>
    
    <button ion-button clear block (click) = "cancelEdit()">Cancel</button>
                
 
</ion-content>
