<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Comments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding = true>
<ion-list>
<ion-item-sliding *ngFor = "let comment of listComment">
<ion-item>
  <ion-row>
   <ion-avatar item-start>
      <img [src] ="comment.authorPicUrl">
    </ion-avatar>
    <h3><b>{{comment.author}}</b> {{comment.text}}</h3>
    
  </ion-row>
  <ion-row>
  <h3>{{comment.timeStamp}}</h3>
  </ion-row>
</ion-item>
 <ion-item-options side="right">
    <button *ngIf = "comment.authorUid == currentUserId" ion-button color="danger"(click)="deleteClicked(comment,comment.key)"> 
      Delete</button>
</ion-item-options>
</ion-item-sliding>
</ion-list>

</ion-content>

<ion-footer>
<ion-row>
      <ion-textarea type = "text" [(ngModel)] = "commentText" value = "" placeholder="Write a comment..."></ion-textarea>
     <button [class.hide]="!commentText"  ion-button icon-left clear small (click)="postClicked()">Post</button>
</ion-row>
</ion-footer>
