<ion-header>

  <ion-navbar>
    <ion-row>
      <button ion-button clear *ngIf="userProfile" style="float: left; text-align: left" (click)="goToCreateProfile()"> 
      <ion-icon name= "hammer"></ion-icon>
      </button>
      <ion-title text-center>{{username}}</ion-title>
      <button ion-button clear *ngIf="userProfile" (click)="logUserOut()" style="float: right; text-align: right">
        <ion-icon name="log-out"></ion-icon>
        </button>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card padding>
    <ion-item>
      <h2>{{firstname}} {{lastname}}</h2>
      <button ion-button item-end outline *ngIf="!userProfile" [style.color]="setFollowStyle()" (click)="followButtonFunc()">
        {{followStatus}}
      </button>
    </ion-item>
    <img [src]="profile_pic" style="margin:auto; margin-top: 20px; border-radius:500px; height
    : 200px; width: 200px; " />
    <ion-card-title text-center>127,030</ion-card-title>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <p>
        <ion-icon name="information-circle"></ion-icon> About</p>
      <h3>{{about}}</h3>
    </ion-card-content>
  </ion-card>

  <div padding>
    <ion-segment [(ngModel)]="lowerProfile">
      <ion-segment-button value="posts">
        Posts
      </ion-segment-button>
      <ion-segment-button value="quests">
        Quests
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorite
      </ion-segment-button>
      <ion-segment-button value="following">
        Following
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="lowerProfile">

    <ion-card *ngSwitchDefault>
      <ion-list *ngIf="subjectPost_list">

        <ion-item *ngFor="let post of subjectPost_list.reverse()">
          <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img [src]="post.authorPicUrl">
              </ion-avatar>
              <h2 (click)="setSubjUID(post.uid)">{{post.author}}</h2>

              <button ion-button clear small style="float: right; text-align: right;position:absolute; top:0; right:0;" (click)="clickOptions(subjectPost_list,post,post.uid, post.key)">...</button>
            </ion-item>


            <img *ngIf="post.post_pic_url" [src]="post.post_pic_url">
            <ion-item *ngIf="post.post_vid_url">
              <video controls width="300" height="300">
                <source [src]="post.post_vid_url" [type]="post.file_type"> Your browser does not support the video tag.
              </video>
            </ion-item>
            <ion-card-content>
              <p>{{post.body}}</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small [style.color]="getLikeColor(post)" (click)="clickLikeButton(post,post.key,post.uid)">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{post.likeCount}} Likes</div>
      </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="clickComment(post.key,post.uid,post,subjectPost_list)"> 
        <ion-icon name="text"></ion-icon>
        <div>{{post.commentCount}} Comments</div>
      </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small> 
        <ion-icon name="share"></ion-icon>
        <div> Share</div>
      </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>{{post.timeStamp}}</ion-note>
              </ion-col>
            </ion-row>

          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngSwitchCase="'quests'">
      <h1>Quests here</h1>
    </ion-card>

    <ion-slides *ngSwitchCase="'favorites'">
      <ion-slide>
        <h1>Favorites here</h1>
        <p>Slide 1</p>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>>
      </ion-slide>
    </ion-slides>

    <ion-card *ngSwitchCase="'following'">
      <ion-list>
        <ion-item>
          <ion-item-sliding *ngFor="let item of scrollItems">
            <ion-item>
              <ion-thumbnail item-start>
                <img [src]="item.profile_pic_url">
              </ion-thumbnail>
              <h2>{{ item.username }}</h2>
              <p>{{ item.firstname }} {{ item.lastname }}</p>
              <button ion-button clear item-end (click)="setSubjUID(item.idolKey)">
                View
              </button>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button [style.background-color]="setFollowStyle()" (click)="followButtonFunc()">
                <ion-icon name="follow"></ion-icon>
                {{followStatus}}
              </button>
            </ion-item-options>

        </ion-item-sliding>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadContents($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


    </ion-card>

  </div>
</ion-content>