<ion-header>

  <ion-navbar>
    <ion-title  text-center>{{username}}</ion-title> 
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right>
  <button color="dark" ion-fab mini fab-content-margin><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab><ion-icon name="book"></ion-icon></button>
      <button ion-fab><ion-icon name="checkbox"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-card padding>
    <ion-item>
      <h2>{{firstname}} {{lastname}}</h2>
      <button ion-button item-end outline (click)="followButtonFunc()">follow</button>
    </ion-item>
    <img [src] = "profile_pic" style="margin:auto; margin-top: 20px; border-radius:500px; height
    : 200px; width: 200px; "/>
    <ion-card-title text-center>127,030</ion-card-title>
  </ion-card>

  <div padding>
    <ion-segment [(ngModel)]="lowerProfile">
      <ion-segment-button value="posts">
        Posts
      </ion-segment-button>
      <ion-segment-button value="quests">
        Quests
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorite
      </ion-segment-button>
      <ion-segment-button value="following">
        Following
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="lowerProfile">

    <ion-card *ngSwitchDefault>
  <ion-list *ngIf ="subjectPost_list">

  <ion-item *ngFor = "let post of subjectPost_list.reverse()">
  <ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img [src] ="post.authorPicUrl">
    </ion-avatar>
    <h2 (click) = "setSubjUID(post.uid)">{{post.author}}</h2>
    <p>(location)</p> 
    <button ion-button clear small style="float: right; text-align: right;position:absolute; top:0; right:0;"
    (click) = "clickOptions(list_posts,post,post.uid, post.key)" >...</button>
  </ion-item>
  

  <img *ngIf = "post.post_pic_url" [src]= "post.post_pic_url">

  <ion-card-content>
    <p>{{post.body}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small [style.color] = "getLikeColor(post)" (click)= "clickLikeButton(post,post.key,post.uid)">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{post.likeCount}} Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small (click)="clickComment(post.key,post.uid,post,subjectPost_list)"> 
        <ion-icon name="text"></ion-icon>
        <div>{{post.commentCount}} Comments</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small> 
        <ion-icon name="share"></ion-icon>
        <div> Share</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>{{post.timeStamp}}</ion-note>
    </ion-col>
  </ion-row>

</ion-card>
  </ion-item>
  </ion-list>
    </ion-card>

    <ion-card *ngSwitchCase="'quests'">
      <h1>Quests here</h1>
    </ion-card>

    <ion-slides *ngSwitchCase="'favorites'">
      <ion-slide>
        <h1>Favorites here</h1>
        <p>Slide 1</p>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>>
      </ion-slide>
    </ion-slides>

    <ion-card *ngSwitchCase="'following'">
      <ion-list>
        <ion-item>
          <ion-item-sliding *ngFor="let item of followingArr">
            <ion-item>
              <ion-thumbnail item-start>
                  <img [src]= "item.profile_pic_url">
              </ion-thumbnail>
              <h2>{{ item.username }}</h2>
              <p>{{ item.firstname }} {{ item.lastname }}</p>
              <button ion-button clear item-end (click)="setSubjUID(item.idolKey)">
                View
              </button>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button  color="default">
                <ion-icon name="follow"></ion-icon>
                Follow
              </button>
            </ion-item-options>
        </ion-item-sliding>
      </ion-item>
    </ion-list>
    </ion-card>

  </div>
</ion-content>
